@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .pb-safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

html.light-mode {
  filter: invert(1) hue-rotate(180deg);
  background-color: #ededed;
}

html.light-mode img,
html.light-mode svg:not(.theme-icon):not(.lucide),
html.light-mode .preserve-color {
  filter: invert(1) hue-rotate(180deg);
}
